body {
        font-family: Arial, sans-serif;
}

#estoque-table {
        border-collapse: collapse;
        width: 100%;
}

#estoque-table th, #estoque-table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
}

#estoque-table th {
        background-color: #f0f0f0;
}

#estoque-tbody tr {
        border-bottom: 1px solid #ddd;
}

#estoque-tbody tr:last-child {
        border-bottom: none;
}

#criar-item-modal {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
}

#criar-item-modal h2 {
        margin-top: 0;
}

#criar-item-form {
        margin-top: 20px;
}

#criar-item-btn-modal {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

#criar-item-btn-modal:hover {
        background-color: #3e8e41;
}
