/* styles.css */

body {
    font-family: Arial, sans-serif;
}

.input-area {
    margin-bottom: 20px;
}

.input-area label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-area label[for="tag"] {
    color: red; /* Cor vermelha para o label TAG */
}

.input-area label[for="descricao"] {
    color: yellow; /* Cor amarela para o label Descrição */
}

.input-area label[for="quantidade"] {
    color: green; /* Cor verde para o label Quantidade */
}

.input-area input[type="text"],
.input-area textarea,
.input-area input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-area button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-area button#adicionar {
    background-color: #333;
}

.instrument-list h2 {
    color: #333;
    margin-bottom: 10px;
}

.instrument-list ul {
    list-style: none;
    padding: 0;
}

.instrument-list li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.instrument-list li strong {
    color: red; /* Cor vermelha para a TAG no item da lista */
}

.instrument-list li .quantity {
    color: green; /* Cor verde para a quantidade no item da lista */
    font-weight: bold;
}

.instrument-list .remove-btn {
    background-color: red;
    margin-right: 10px;
}

.instrument-list .update-quantity-btn {
    background-color: green;
}
